* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    color: rgb(138, 29, 29);
}

html, body {
    height: 100%;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #000;
    background: rgb(70, 69, 69);
    row-gap: 10px;
    user-select: none;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.container {
    width: 1170px;
    height: 100%;
}

.df {
    display: flex;
}

.ai-center {
    align-items:center;
}

.jc-between {
    justify-content: space-between;
}

header, footer {
    width: 100%;
    height: 60px;
    background: rgb(153, 153, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(138, 29, 29);
    font-weight: bold;
    flex-shrink: 0;
}


.logo-box {
    width: 40%;
    height: 100%;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Impact', sans-serif;
    font-style: italic;
    stroke: rgb(123, 255, 0);
}
.logo a {
    fill: rgb(138, 29, 29);
}

.nav {
    width: 60%;
}

.nav-item {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 5px 10px;
}

.nav-item:hover {
    border-color:rgb(77, 210, 250);
}

.nav-item:active {
    background: rgb(123, 255, 0);
}
.nav-item:hover a{
    color: rgb(77, 210, 250);
}

#to-up-button {
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid rgb(77, 210, 250);
    padding: 5px 10px;
    position: fixed;
    right: 8%;
    bottom: 200px;
}
#to-up-button:active{
    background: rgb(123, 255, 0);
}

#to-up-button a {
    color: rgba(85, 202, 238, 0.8);
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider-track {
    display: flex;
    height: 100%;
    position: relative;
    transition: 0.8s;
}
.slider-item {
    width: 390px;
}

.slider-control-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
}

.next, .prev {
    width: 50%;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 10px;
    cursor: pointer;
}
.prev:hover, .next:hover .slider-control{
    fill: rgb(123, 255, 0);
}
.next {
    justify-content: flex-end;
}

.slider-control {
    width: 47px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}




/* Collection */

#collecton .container {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

        /* Aside */

aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #fff;
    row-gap: 10px;
}
aside h2 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(153, 153, 153);
    cursor: pointer;
    border: 2px solid transparent;
}

aside h2:hover {
    border-color: rgb(77, 210, 250);
}

aside h2:active {
    background: rgb(123, 255, 0);
}



aside .card {
    text-transform: uppercase;
}

aside span {
    padding: 10px;
}


.tabs {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    background: rgb(153, 153, 153);
    margin-bottom: 10px;
    padding: 10px;
}

.tabs span {
    border: 2px solid transparent;
    padding: 5px 10px;
    cursor: pointer;
}

.tabs span:hover {
    border-color:rgb(77, 210, 250);
}

.tabs span:active {
    background: rgb(123, 255, 0);
}

.collection-box {
    display: flex;
    width: 830px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.collection-box .card {
    width: 270px;
    height: max-content;
    position: relative;
    cursor: pointer;
}

.desc {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px;
    transition: 0.8s;
    background: rgba(85, 202, 238, 0.2);
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

.desc:hover {
    background:rgba(85, 202, 238, 0.8);
}

.desc p {
    transform: scaleY(0);
    overflow: hidden;
    transition: 0.8s;
    transform-origin: 100% 100%;
}

.desc:hover p{
    height: auto;
    transform: scaleY(1);
}

.card img {
    width: 100%;
}